{% extends 'base.html.twig' %}
{% block title %}Crear nuevo rol | {{ parent() }}{% endblock %}



{% block body %}
    <div {{ stimulus_controller('hello') }}></div>
<ul>
    {% for track in tracks %}
        <li>
            {{ track.song }} - {{ track.artist }}
        </li>
    {% endfor %}

</ul>

{% endblock %}